

<ion-content [fullscreen]="true">
  <div>
    <h2 class="container1">inicio</h2>
  </div>
  <div class="container">
    <div class="overlay-container">
      <div class="overlay-panel">
        <img class="img_s"  src="assets/img_sede.jpeg" alt="image">
            <h1>Bienvenido de vuelta te extrañamos.</h1>
            <p>Para mantenerse conectado con nosotros, inicie sesión con su información personal.</p>
            <ion-button class="btn" shape="round" id="signIn" (click)="login()" >Registrate</ion-button>
            <p>Si no tienes cuenta crea tu propia cuenta aqui.</p>
            <ion-button class="btn" shape="round" id="create-user" (click)="Crearcuenta()">Crear cuenta</ion-button>
          </div>
    </div>
  </div>
</ion-content>

