<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Password change {{user}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item class="st1  ion-margin-top">
<!--Content this page reset password-->
    <ion-label>Enter your new password</ion-label>

    <ion-input 
    type="password"
    label="Enter your new password"
    labelPlacement="floating" 
    [(ngModel)]="new_password"></ion-input>
  </ion-item>

  <ion-button class="btn" (click)="change()" >Change</ion-button>

</ion-content>

